<!-- About Section -->
  <section id="about" class="about-section">
    <!-- Add a container for the Vanta background -->
    <div id="about-background">
      <div class="about-container">
        <div class="col-lg-4 text-center d-flex flex-column justify-content-center align-items-center" style="height:100%;">
          <div class="about-img">
            <img src="assets/img/photo-id.jpeg" class="about-id-img" >
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Flag_of_Burkina_Faso.svg/1200px-Flag_of_Burkina_Faso.svg.png" class="about-bf-img">
          </div>
          <h2 class="about-name">Taoufiq OUEDRAOGO</h2>
          <p class="typed-container">
            <span class="typed" data-typed-items="Machine Learning, Quantitative Research"></span>
            <span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span>
          </p>
        </div>


        <div class="about-content">
          <p class="">
            I'm from Burkina Faso 🇧🇫 and a proud former child cadet (Ancien Enfant de Troupe - AET), which deeply shaped my values of discipline, resilience, and determination.
          </p>
          <ul class="list">
            <li> I hold an engineering degree in Computer Science, specialized in Artificial Intelligence &amp; Big Data</li>
            <li> I’m currently pursuing a Master’s degree in Mathematical Engineering for Finance at Université Paris 1 Panthéon-Sorbonne</li>
            <li> My ambition is to pursue a PhD that bridges Machine Learning and Quantitative Research, contributing to innovations at the frontier of AI and Finance</li>
          </ul>
          <blockquote class="blockquote">
            <p class="blockquote-text">I consider myself resilient, highly motivated, and pragmatic. I deeply believe that every human should strive for knowledge because knowledge is what truly sets us free.</p>
          </blockquote>
        </div>
      </div>
    </div>
  </section>
