  <!-- About Section -->
  <section id="about" class="about-section">
    <div class="about-container">
        
        <div class="col-lg-4 text-center d-flex flex-column justify-content-center align-items-center" style="height:100%;">
          <div class="position-relative d-inline-block mb-3">
            <img src="../assets/img/photo-id.jpeg" class="img-fluid shadow" alt="Taoufiq OUEDRAOGO" 
                style="border:2px solid #fff;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Flag_of_Burkina_Faso.svg/1200px-Flag_of_Burkina_Faso.svg.png" 
                style="width:50px; position:absolute; bottom:0; right:-10px; border-radius:0px; border:1px solid #fff;">
          </div>
          <h2 class="mt-3 mb-1 fw-bold" style="color:#fff; letter-spacing:1px;">Taoufiq OUEDRAOGO</h2>
          <p class="typed-container">
            <span class="typed" data-typed-items="Machine Learning, Quantitative Research"></span>
            <span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span>
          </p>
        </div>


        <div class="about-content">
          <p class="">
            I'm from Burkina Faso 🇧🇫 and a proud former child cadet (Ancien Enfant de Troupe - AET), which deeply shaped my values of discipline, resilience, and determination.
          </p>
          <ul class="list">
            <li> I hold an engineering degree in Computer Science, specialized in Artificial Intelligence &amp; Big Data</li>
            <li> I’m currently pursuing a Master’s degree in Mathematical Engineering for Finance at Université Paris 1 Panthéon-Sorbonne</li>
            <li> My ambition is to pursue a PhD that bridges Machine Learning and Quantitative Research, contributing to innovations at the frontier of AI and Finance</li>
          </ul>
          <blockquote class="blockquote">
            <p class="blockquote-text">I consider myself resilient, highly motivated, and pragmatic. I deeply believe that every human should strive for knowledge because knowledge is what truly sets us free.</p>
          </blockquote>
        </div>

    </div>
  </section>