<!-- Education Section -->
<section id="education" class="education section light-background">
  <div class="container">
    <div class="container section-title" data-aos="fade-up">
      <h2>Education</h2>
    </div>
    <div class="timeline">

      <!-- Pantheon-Sorbonne University -->
      <div class="timeline-item">
        <div class="timeline-content d-flex align-items-start">
          <div class="education-logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Logo_of_the_Pantheon-Sorbonne_University_in_Paris.png">
          </div>
          <div class="education-details flex-grow-1">
            <div class="education-header mb-2">
              <h3 class="education-degree fw-semibold" style="font-family: 'Poppins', sans-serif;">Master's Degree - Mathematical Engineering of Finance</h3>
              <div class="education-meta small text-muted mb-2">
                <span class="education-institution fw-bold">
                    <a href="https://www.pantheonsorbonne.fr/" target="_blank" class="text-decoration-none text-reset">
                        Paris 1 Panthéon-Sorbonne University - Sorbonne School of Economics
                    </a>
                </span> <br>
                <span class="education-location">Paris, France</span> 
                <span class="education-period">Sep. 2025 - Sep. 2026</span>
              </div>
            </div>
            <div class="education-courses mb-2">
              <h5 class="fw-bold mb-1" style="font-size: 1.05rem; border-bottom: 1px solid #ddd;">Relevant Courses</h5>                
               <ul class="list">
                <li>Stochastic Calculus applied to finance</li>
                <li>Decision under uncertainty and Portfolio Management</li>
                <li>Financial products and pricing</li>
                <li>C++ Programming</li>
                <li>Data Science software</li>
                <li>Python for optimization and Finance </li>
                <li>Applied Derivative pricing </li>
                <li>Machine Learning</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- WorldQuant University -->
      <div class="timeline-item">
        <div class="timeline-content d-flex align-items-start">
          <div class="education-logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/72/WQU_logo_color.png">
          </div>
          <div class="education-details flex-grow-1">
            <div class="education-header mb-2">
              <h3 class="education-degree fw-semibold" style="font-family: 'Poppins', sans-serif;">Master's Degree - Financial Engineering</h3>
              <div class="education-meta small text-muted mb-2">
                <span class="education-institution fw-bold">
                    <a href="https://www.wqu.edu" target="_blank" class="text-decoration-none text-reset">
                        WorldQuant University
                    </a>
                </span> <br>
                <span class="education-location">Online</span>  
                <span class="education-period">2024 - 2026</span>
              </div>
            </div>
            <div class="education-courses mb-2">
              <h5 class="fw-bold mb-1" style="font-size: 1.05rem; border-bottom: 1px solid #ddd;">Relevant Courses</h5>
              <ul class="list">
                <li>Financial Markets and Data</li>
                <li>Financial Econometrics</li>
                <li>Derivative Pricing</li>
                <li>Stochastic Modeling</li>
                <li>Machine Learning and Deep Learning for Finance</li>
                <li>Portfolio Management</li>
                <li>Risk Management</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Central School of Electronics -->
      <div class="timeline-item">
        <div class="timeline-content d-flex align-items-start">
          <div class="education-logo">
            <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/2/2d/ECE_LOGO_2021_web.png/1200px-ECE_LOGO_2021_web.png">
          </div>
          <div class="education-details flex-grow-1">
            <div class="education-header mb-2">
              <h3 class="education-degree fw-semibold" style="font-family: 'Poppins', sans-serif;">Engineering Degree - Big Data & Artificial Intelligence</h3>
              <div class="education-meta small text-muted mb-2">
                <span class="education-institution fw-bold">
                    <a href="https://www.ece.fr" target="_blank" class="text-decoration-none text-reset">
                        ECE Paris – Engineering School
                    </a>
                </span> <br>
                <span class="education-location">Paris, France</span>  
                <span class="education-period">2022 - 2025</span>
              </div>
            </div>
            <div class="education-courses mb-2">
              <h5 class="fw-bold mb-1" style="font-size: 1.05rem; border-bottom: 1px solid #ddd;">Relevant Courses</h5>
              <ul class="list">
                    <li>Mathematics</li>
                    <li>Mathematics for Data Science</li>
                    <li>Data Science</li>
                    <li>Big Data Ecosystem (Spark, Hadoop, Kafka)</li>
                    <li>Bayesian Learning and Estimation</li>
                    <li>Electrostatics & Magnetostatics</li>
                    <li>Object-oriented Programming (Java)</li>
                    <li>Cloud Computing (Microsoft Azure, Azure ML)</li>
                    <li>DevOps & SRE (Git, Docker, CI/CD)</li>
                    <li>Advanced Databases (SQL, NoSQL, PostgreSQL, MongoDB)</li>
                    <li>Machine Learning (Regression, Classification, Clustering, Dimensionality Reduction)</li>
                    <li>Deep Learning (Deep Neural Networks, Computer Vision, RNN, NLP, Transformers)</li>
                    <li>Data Mining (Python, Classification, Clustering)</li>
                    <li>Graph Analytics (Neo4J)</li>
                    <li>Business Intelligence (Tableau, Power BI)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Compiègne University of Technology -->
      <div class="timeline-item">
        <div class="timeline-content d-flex align-items-start">
          <div class="education-logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Technische_Universität_Compiègne_Logo.svg/2560px-Technische_Universität_Compiègne_Logo.png">
          </div>
          <div class="education-details flex-grow-1">
            <div class="education-header mb-2">
              <h3 class="education-degree fw-semibold" style="font-family: 'Poppins', sans-serif;">Engineering Degree - Computer Science Engineering</h3>
              <div class="education-meta small text-muted mb-2">
                <span class="education-institution fw-bold">
                    <a href="https://www.utc.fr/en/" target="_blank" class="text-decoration-none text-reset">
                        Compiègne University of Technology
                    </a>
                </span> <br>
                <span class="education-location">Compiègne, France</span> 
                <span class="education-period">2021 - 2022</span>
              </div>
            </div>
            <div class="education-courses mb-2">
              <h5 class="fw-bold mb-1" style="font-size: 1.05rem; border-bottom: 1px solid #ddd;">Relevant Courses</h5>
              <ul class="list">
                <li>Algorithms & Data Structures (C)</li>
                <li>Object-oriented programming (C++)</li>
                <li>Relational databases (SQL)</li>
                <li>Non-relational databases (NoSQL)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Gustave Eiffel High School -->
      <div class="timeline-item">
        <div class="timeline-content d-flex align-items-start">
          <div class="education-logo">
            <img src="../assets/img/lycee-gustave-eiffel-logo.png" style="width: 35%;">
          </div>
          <div class="education-details flex-grow-1">
            <div class="education-header mb-2">
              <h3 class="education-degree fw-semibold" style="font-family: 'Poppins', sans-serif;">Preparatory Classes</h3>
              <div class="education-meta small text-muted mb-2">
                <span class="education-institution fw-bold">
                    <a href="https://lyc21-eiffel.ac-dijon.fr" target="_blank" class="text-decoration-none text-reset">
                        Gustave Eiffel High School
                    </a>
                </span> <br>
                <span class="education-location">Dijon, France</span>  
                <span class="education-period">2019 - 2021</span>
              </div>
            </div>
            <div class="education-courses mb-2">
              <h5 class="fw-bold mb-1"  style="font-size: 1.05rem; border-bottom: 1px solid #ddd;">Relevant Courses</h5>
              <ul class="list">
                <li>Mathematics</li>
                <li>Physics & Chemistry</li>
                <li>Computer science: (Python)</li>
                <li>Relational databases (UML, SQL)</li>
                <li>Industrial sciences for engineering</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Prytanée Militaire de Kadiogo -->
      <div class="timeline-item">
        <div class="timeline-content d-flex align-items-start">
          <div class="education-logo">
            <img src="../assets/img/pmk-logo.png" style="width: 35%;">
          </div>
          <div class="education-details flex-grow-1">
            <div class="education-header mb-2">
              <h3 class="education-degree fw-semibold" style="font-family: 'Poppins', sans-serif;">Scientific High School Diploma</h3>
              <div class="education-meta small text-muted mb-2">
                <span class="education-institution fw-bold">
                    <a href="https://www.facebook.com/prytaneemilitairedekadiogo/?locale=fr_FR" target="_blank" class="text-decoration-none text-reset">
                        Prytanée Militaire de Kadiogo
                    </a>
                </span> <br>
                <span class="education-location">Burkina Faso</span>  
                <span class="education-period">2012 - 2019</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>