<!-- Experience Section -->
<section id="experience" class="experience-section">
  <div class="container">
    
    <h2>Professional Experience</h2>
    
    <div class="experience-timeline">
        
      <!-- HSBC AI Engineer -->
      <div class="experience-timeline-item">
          <div class="experience-logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/HSBC_logo_%282018%29.svg/2560px-HSBC_logo_%282018%29.svg.png">
          </div>
          <div class="experience-details">
            <h3 class="experience-title">AI Engineer</h3>
            <div class="experience-meta">
                <span class="experience-institution">
                    <a href="https://www.hsbc.com" target="_blank" class="text-decoration-none text-reset">
                        HSBC (Hong Kong & Shanghai Banking Corporation)
                    </a>
                </span> <br>
                <span class="experience-location">
                  <i class="bi bi-geo-alt-fill"></i> Paris, France
                </span>
                <span class="experience-period">
                  <i class="bi bi-calendar-event"></i> Sep. 2025 - Sep. 2026
                </span>
            </div>
            <div class="experience-missions">
              <h5>Missions</h5>
              <ul class="list">
                <li></li>
              </ul>
            </div>
          </div>
      </div>

      <!-- BNP PARIBAS Data Scientist -->
      <div class="experience-timeline-item">
          <div class="experience-logo">
            <img src="https://images.icon-icons.com/2699/PNG/512/bnpparibas_logo_icon_167797.png">
          </div>
          <div class="experience-details">
            <h3 class="experience-title">Data Scientist & Data Engineer</h3>
            <div class="experience-meta">
                <span class="experience-institution">
                    <a href="https://group.bnpparibas" target="_blank" class="text-decoration-none text-reset">
                        BNP PARIBAS
                    </a>
                </span> <br>
                <span class="experience-location">
                  <i class="bi bi-geo-alt-fill"></i> Paris, France
                </span>  
                <span class="experience-period">
                  <i class="bi bi-calendar-event"></i> Sep. 2023 - Aug. 2025
                </span>
            </div>
            <div class="experience-missions">
              <h5>Missions</h5>
              <ul class="list">
                <li>Co-developed a GenAI platform leveraging LLMs and RAG to industrialize AI use cases for BNP Paribas non-EU banks</li>
                <li>Co-built 4 core GenAI features (Q&A, document comparison, information extraction, summarization)</li>
                <li>Developed an administrator interface (frontend, backend, database) to manage users and GenAI use cases</li>
                <li>Designed Dataiku workflows and Tableau dashboards to monitor ALM operations, trader mandates, Sustainable IT</li>
                <li>Migrated about 20 Data Pipelines from Alteryx to Dataiku, improving processing delays and maintainability by 30%</li>               
              </ul>
              <div class="experience-tags">
                    <span class="badge">Python (FastAPI, Pandas, Streamlit)</span>
                    <span class="badge">LangChain</span>
                    <span class="badge">Hugging Face</span>
                    <span class="badge">Domino Datalab</span>
                    <span class="badge">Dataiku</span>
                    <span class="badge">Alteryx</span>
                    <span class="badge">SQL Server</span>
                    <span class="badge">Tableau</span>
                    <span class="badge">GitLab</span>
                    <span class="badge">Jira</span>
              </div>
            </div>
          </div>
      </div>

      <!-- ASN Data Scientist / BI -->
      <div class="experience-timeline-item">
          <div class="experience-logo">
            <img src="https://vitrinesindustriedufutur.org/wp-content/uploads/2024/01/logo-ASN-300x150.png">
          </div>
          <div class="experience-details">
            <h3 class="experience-title">Data Scientist & Business Intelligence</h3>
            <div class="experience-meta">
                <span class="experience-institution">
                    <a href="https://www.asn.com" target="_blank" class="text-decoration-none text-reset">
                        ASN (Alcatel Submarine Networks, NOKIA)
                    </a>
                </span> <br>
                <span class="experience-location">
                  <i class="bi bi-geo-alt-fill"></i> Nozay, France
                </span>
                <span class="experience-period">
                  <i class="bi bi-calendar-event"></i> Oct. 2022 - Aug. 2023
                </span>
            </div>
            <div class="experience-missions">
              <h5>Missions</h5>
              <ul class="list">
                    <li>Built Tableau Prep pipelines and Tableau dashboards to analyze and visualize project interdependencies</li>
                    <li>Developed Python scripts to automate data extraction and transformation processes</li>
                    <li>Collaborated with cross-functional teams to gather requirements and deliver actionable insights</li>
                    <li>Conducted training sessions and documentation for team members</li>
              </ul>
              <div class="experience-tags">
                    <span class="badge">Python</span>
                    <span class="badge">Tableau</span>
                    <span class="badge">Tableau Prep</span>
                    <span class="badge">Excel VBA</span>
                    <span class="badge">GitHub</span>
              </div>
            </div>
          </div>
      </div>

    </div>
  </div>
</section>