/* Ensure the body and html take full height */
html, body {
  height: 100%;
  margin: 0;
}

/* Main content wrapper to push the footer down */
.main {
  min-height: calc(100vh - 60px); /* Adjust 60px to match the footer height */
  display: flex;
  flex-direction: column;
}

/* Footer styling */
.footer {
  background-color: #000 !important;
  color: #fff !important;
  padding-bottom: 0;
  font-size: 0.85rem;
  position: relative;
  height: 60px; /* Set a fixed height for the footer */
  bottom: 0;
  width: 100%;
  text-align: center;
  align-items: center;
}

.footer .container {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 0;
  text-align: center;
  align-items: center;
}

.footer .copyright,
.footer .credits {
  margin-bottom: 0;
  font-size: 0.8em;
  text-align: center;
  align-items: center;
}
